.deleteBtn {
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 20px; */
  padding: 6px 12px;
  text-transform: uppercase;
  color: #161515;
  font-weight: bold;
  text-shadow: 1px 0px 1px #92949a;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100px;
}
.deleteBtn:hover {
  background-color: red;
}
.list {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.elements {
  padding-left: 0;
}
