.contact_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 10px;
}
.for_label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  font-size: 20px;
}
.for_input {
  width: 200px;
  border: 1px solid #000;
}
.btn {
  background: lightgrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 6px 12px;
  text-transform: uppercase;
  color: #161515;
  font-weight: bold;
  text-shadow: 1px 0px 1px #92949a;
  letter-spacing: 1px;
  font-size: 12px;
  width: 200px;
}
.btn:hover {
  background-color: #585757;
}
.img {
  width: 150px;
}
.form_blok {
  display: flex;
}
.img_block {
  margin-left: 80px;
}
