.menu {
  list-style: none;
  display: flex;
  text-align: left;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.link:global(.active) {
  color: red;
}
