.block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.block label {
  width: 100px;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  background: lightgrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 6px 12px;
  text-transform: uppercase;
  color: #161515;
  font-weight: bold;
  text-shadow: 1px 0px 1px #92949a;
  letter-spacing: 1px;
  font-size: 12px;
  width: 200px;
}
.btn:hover {
  background-color: #585757;
}
